<ng-template #errors>
    {{errorMessage}}
</ng-template>

<div class="p-4" *ngIf="arti else errors">



    <div class="card">

        <div class="card-header">Liste des Articles</div>
        <div class="card-body" >
            <form [formGroup]="SearchFormGroup" (ngSubmit)="handleSearch()" >
                <div class="input-group">
                    <label class="input-group-text" >KeyWord</label>
                    <input class="form-control" formControlName="keyword" type="text">
                    <button type="submit" class="btn btn-outline-success">
                        <i class="bi bi-search"></i>
                    </button>

                </div>
            </form>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th colspan="2">Promotion</th>

                        <th *ngIf="loginservice.hasRoles('ADMIN')">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let Onart of arti">
                        <td>{{Onart.id}}</td>
                        <td>{{Onart.name}}</td>
                        <td>{{Onart.price}}</td>
                        <td >
                            <i *ngIf="Onart.promotion==true" class="bi-suit-heart-fill"></i>
                        </td>
                        <td *ngIf="loginservice.hasRoles('ADMIN')">
                            <button (click)="handlePromotion(Onart)" class="btn"  [ngClass]="Onart.promotion==false?'btn-outline-danger':'btn-outline-primary'">
                                <span *ngIf="Onart.promotion==true">promo on</span>
                                <span *ngIf="Onart.promotion==false">promo of</span>

                            </button>
                        </td>
                        <td *ngIf="loginservice.hasRoles('ADMIN')">
                            <button class="btn btn-danger" (click)="handleDelete(Onart)">
                                <i class="bi-trash3-fill"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>

            </table>
            <ul class="nav nav-fill">
                <li *ngFor="let item of [].constructor(this.totalPages); let i =index">
                        <a  (click)="gotPage(i)" [ngClass]="i==currentPage?'btn-info':'btn-outline-info'" class="btn mt-1 ms-1">{{i}}</a>

                </li>

            </ul>


        </div>
    </div>
</div>

